@keyframes lightSpeedInRight {
  0% {
    opacity: 0;
  }  
  
  50% {
      
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      transform: skewX(20deg);
      
    }
  
    80% {
      transform: skewX(-5deg);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }




.lightSpeedInRight {
    animation-name: lightSpeedInRight;
    animation-timing-function: ease-out;
    animation-duration: 6s;
  }

  @keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  .shakeX:active {
    animation-name: shakeX;
    animation-duration: .5s;
  }

  @keyframes shakeY {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(0, 10px, 0);
    }
  }
  .shakeY:active {
    animation-name: shakeY;
    animation-duration: .5s;
    
  }

  @keyframes rotateIn {
    
    0% {transform: scale(0%); opacity: 0.0}
    
    100% {transform: scale(100%); opacity: 1.0}

  }
  .rotateIn {
    animation-name: rotateIn;
    animation-timing-function: ease-out;
    transform-origin: center;
    animation-duration: 3s;
  }




  .slide {
    padding-bottom: 1%;
    background: var(--n-red-bg);
    border-bottom: 1px solid black;
    
  }
  #slideset6 {
    height: 9em; position: relative
  }
  #slideset6 div {
    width: 100%;
    justify-content: center;
  }

  #slideset6 > * {
    animation: 20s autoplay6 infinite linear;
    position: absolute; top: 0; left: 0; opacity: 0.0
  }




  @keyframes autoplay6 {
    0% {opacity: 0.0}
    4% {opacity: 1.0}
    24% {opacity: 1.0}
    28% {opacity: 0.0}
    100% {opacity: 0.0}
  }
  #slideset6 > *:nth-child(1) {animation-delay: 0s}
  #slideset6 > *:nth-child(2) {animation-delay: 5s}
  #slideset6 > *:nth-child(3) {animation-delay: 10s}
  #slideset6 > *:nth-child(4) {animation-delay: 15s}

  
  
  #slideset {
    height: 17rem; position: relative
  }
  #slideset div {
    width: 100%;
    justify-content: center;
  }

  #slideset > * {
    animation: 20s autoplay infinite linear;
    position: absolute; top: 0; left: 0; opacity: 0.0
  }

  @keyframes autoplay {
    0% {opacity: 0.0}
    4% {opacity: 1.0}
    24% {opacity: 1.0}
    28% {opacity: 0.0}
    100% {opacity: 0.0}
  }
  #slideset > *:nth-child(1) {animation-delay: 0s}
  #slideset > *:nth-child(2) {animation-delay: 5s}
  #slideset > *:nth-child(3) {animation-delay: 10s}
  #slideset > *:nth-child(4) {animation-delay: 15s}

