.gbannerB {
    background-color: var(--n-red-bg);
    padding: 1rem 0;
    margin-bottom: 1rem;
}
header {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	/*
	margin: -2rem calc(50% - 50vw) 2rem;

	 Shorthand for:

	margin-top: -2rem;
	margin-bottom: 2rem;

	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw); */


}

header h1,
header h2,
header h3 {
    font-weight: 400;
	padding-bottom: 0;
	border-bottom: 0;
    text-align: center;
    margin-right: 55px;
    margin-left: 55px;
}

header > *:first-child {
	margin-top: 5rem;
	padding-top: 0;
}

header > *:last-child {
	margin-bottom: -2.4rem;
}

.center {
    text-align: center;
    padding-bottom: 3rem;
}
.value {
    text-align: center;

}
.value h1{
    margin: 0 auto;
    width: 5rem;
    padding: 1.5rem .3rem;
    border: 0px solid var(--nc-tx-1);
    border-radius:  50%;
    background-color: var(--yellow-bg);
}

.svgLogo {
    display: block;
    width: 7rem;
    margin: 0 auto;
}

.iconlogo {
    display: block;
    width: 20rem;
    margin: 0 auto;
}

.iconlogo span{
    font-size: 5rem;
    color: var(--red-bg);
}


@media screen and (min-width: 60rem) {

    header > *:first-child {
        margin-top: 5rem;
        padding-top: 16%;
    }
    header > *:last-child {
        margin-bottom: -2.9rem;
    
    }
}
